# Reto Coppel

## Importación de librerías

In [17]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,isnan, when, count

## Conexión al servidor

In [4]:
spark = SparkSession.builder.master("local[*]").getOrCreate()

## Carga de datos

In [7]:
df = spark.read.csv("../dataset.csv", header=True, inferSchema=True)

## Inspección

In [13]:
df.show(5)

+------+----------+--------+------------------+------------------+------------------+------+--------+--------+----------------+
|   _c0|     Fecha|Segmento|      hora_llegada|      hora_llamado|       hora_salida|  caja|  tienda|  status|          estado|
+------+----------+--------+------------------+------------------+------------------+------+--------+--------+----------------+
|821243|2023-01-01|  retail|0.5034652777777778|0.5034768518518519|0.5035810185185186|caja_a|Tienda_A|Atendido|Ciudad de México|
|821244|2023-01-01|  retail|0.5035810185185186|0.5036157407407408|0.5111736111111111|caja_a|Tienda_A|Atendido|Ciudad de México|
|821245|2023-01-01|  retail|0.5037893518518518| 0.503800925925926|0.5051203703703704|caja_b|Tienda_A|Atendido|Ciudad de México|
|821246|2023-01-01|  retail|0.5038472222222222|0.5051319444444444|0.5093333333333333|caja_b|Tienda_A|Atendido|Ciudad de México|
|821247|2023-01-01|  retail|0.5038935185185185|0.5080717592592593|0.5099814814814815|caja_c|Tienda_A|Atendido|Ciudad de México|
+------+----------+--------+------------------+------------------+------------------+------+--------+--------+----------------+
only showing top 5 rows

In [14]:
print((df.count(), len(df.columns)))

(18510772, 10)

In [15]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Fecha: date (nullable = true)
 |-- Segmento: string (nullable = true)
 |-- hora_llegada: double (nullable = true)
 |-- hora_llamado: double (nullable = true)
 |-- hora_salida: double (nullable = true)
 |-- caja: string (nullable = true)
 |-- tienda: string (nullable = true)
 |-- status: string (nullable = true)
 |-- estado: string (nullable = true)

In [18]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]
   ).show()

AnalysisException: [DATATYPE_MISMATCH.UNEXPECTED_INPUT_TYPE] Cannot resolve "isnan(Fecha)" due to data type mismatch: Parameter 1 requires the ("DOUBLE" or "FLOAT") type, however "Fecha" has the type "DATE".;
'Aggregate [count(CASE WHEN (isnan(cast(_c0#54 as double)) OR isnull(_c0#54)) THEN _c0 END) AS _c0#264L, count(CASE WHEN (isnan(Fecha#55) OR isnull(Fecha#55)) THEN Fecha END) AS Fecha#266, count(CASE WHEN (isnan(cast(Segmento#56 as double)) OR isnull(Segmento#56)) THEN Segmento END) AS Segmento#268L, count(CASE WHEN (isnan(hora_llegada#57) OR isnull(hora_llegada#57)) THEN hora_llegada END) AS hora_llegada#270L, count(CASE WHEN (isnan(hora_llamado#58) OR isnull(hora_llamado#58)) THEN hora_llamado END) AS hora_llamado#272L, count(CASE WHEN (isnan(hora_salida#59) OR isnull(hora_salida#59)) THEN hora_salida END) AS hora_salida#274L, count(CASE WHEN (isnan(cast(caja#60 as double)) OR isnull(caja#60)) THEN caja END) AS caja#276L, count(CASE WHEN (isnan(cast(tienda#61 as double)) OR isnull(tienda#61)) THEN tienda END) AS tienda#278L, count(CASE WHEN (isnan(cast(status#62 as double)) OR isnull(status#62)) THEN status END) AS status#280L, count(CASE WHEN (isnan(cast(estado#63 as double)) OR isnull(estado#63)) THEN estado END) AS estado#282L]
+- Relation [_c0#54,Fecha#55,Segmento#56,hora_llegada#57,hora_llamado#58,hora_salida#59,caja#60,tienda#61,status#62,estado#63] csv